.section2divpd{
    background-color: #2C2C2C;
    width: 100%;
    height: 1900px;
    display: inline-block;
}
.worldmenupd{
    font-family: Arial Black;
    font-size: 45px;
    color: #d9d9d9;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.trashpd{
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 85px;
    position: relative;
    left: 1400px;
    bottom: 70px;
    transition: 1s;
}
.trashimgpd{
    width: 60px;
    height: 60px;
    background-image: url(../img/trash-4-512.png);
    background-size: 100% 100%;
    margin-bottom: 0px;
    transition: 1s;
    margin: 0 auto;
}.trashimgpd:hover{
    width: 70px;
    height: 70px;
}
.div2pd{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.mekpd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1pd{
    background-image: url(../img/pizza.png);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img1pd:hover{
    width: 340px;
    height: 340px;
}
.erkupd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2pd{
    background-image: url(../img/itpizza.jpg);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img2pd:hover{
    width: 340px;
    height: 340px;
}
.div22pd{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}
.mek2pd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3pd{
    background-image: url(../img/fernando-andrade-_P76trHTWDE-unsplash.jpg);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img3pd:hover{
    width: 340px;
    height: 340px;
}
.erku2pd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img4pd{
    background-image: url(../img/pinar-kucuk-Ae7jQFDTPk4-unsplash.jpg);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img4pd:hover{
    width: 340px;
    height: 340px;
}
.div23pd{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}
.mek3pd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img5pd{
    background-image: url(../img/sahal-hameed-Nq9KlQTTEbQ-unsplash.jpg);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img5pd:hover{
    width: 340px;
    height: 340px;
}
.erku3pd{
    background-color: #d9d9d9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img6pd{
    background-image: url(../img/the-nix-company-ljvm17bH-e0-unsplash.jpg);
    width: 320px;
    height: 320px;
    background-size: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}.img6pd:hover{
    width: 340px;
    height: 340px;
}
.pizzanamed{
    font-family: Arial Black;
    font-size: 28px;
    text-align: center;
    margin-top: -48px;
}
.infod{
    font-family: Arial Black;
    text-align: center;
    color: #FF0000;
    margin-top: -15px;
}
.pbtn1d{
    width: 150px;
    height: 40px;
    margin-top: -20px;
    cursor: pointer;
    margin-left: 35px;
    background-color: #FF0000;
    color: #d9d9d9;
    border: none;
    border-radius: 20px;
    font-family: Arial Black;
    font-size: 22px;
}
.pbtn2d{
    width: 150px;
    height: 40px;
    margin-top: -20px;
    cursor: pointer;
    margin-left: 15px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 20px;
    font-family: Arial Black;
    font-size: 22px;
}